{% extends "layout.html" %}
{% block content %}

<!-- http://jquery.com/ -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Datatables.net CDN -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


<h5>PnL History</h5>

<div class="row small">
    <div class="col-sm-5">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Start Date</span>
            </div>
            <input type="date" class="form-control" id="start_date" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-sm-5">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">End Date</span>
            </div>
            <input type="date" class="form-control" id="end_date" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-5">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Method</span>
            </div>
            <select name="Icecream Flavours">
		              <option value="FIFO">First-in First-Out (FIFO)</option>
		              <option value="LIFO">Last-in First-Out (LIFO)</option>
		              <option value="avgcost">Average Cost</option>
	         </select>

        </div>
    </div>
    <div class="col-sm-5">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Ticker</span>
            </div>
            <input type="text" class="form-control" id="ticker" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>

</div>


    <div class="row">


            <div class="col-sm-12">

                {% for transaction in realpnl %}
                <div class="card">
                    <div class="card-header">
                        <h6>Transaction</h6>

                        <table id="tradeid_{{transaction}}" class="table table-sm small text-center" style="margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Ticker
                                    </th>
                                    <th>
                                        Operation
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Account
                                    </th>
                                    <th>
                                        Cash Value
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        <!-- PnL details - long term, bought quant, sold, quantity -->
                        <!-- prices in / out , Method FIFO -->
                    </div>
                    <span class="card-body small">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-5">
                                    <table class="table table-bordered table-sm small" style="margin-bottom: 0;">
                                        <thead>
                                            <th class="table-info">
                                                Method
                                            </th>
                                            <th class="table-info">
                                                Start:
                                            </th>
                                            <th class="table-info">
                                                End:
                                            </th>
                                        </thead>
                                    </tbody class="table-light">
                                            <td>
                                                {{metadata[transaction]['method']}}
                                            </td>
                                            <td>
                                                {% if metadata[transaction]['start_date'] == 0 %}
                                                    All periods
                                                {% else %}
                                                    {{metadata[transaction]['start_date']}}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if metadata[transaction]['end_date'] == 99999 %}
                                                    All periods
                                                {% else %}
                                                    {{metadata[transaction]['end_date']}}
                                                {% endif %}

                                            </td>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-5 small">
                                    <table class="table table-sm table-bordered small" style="margin-bottom: 0;">
                                        <tbody class="small">
                                            <tr>
                                                <td class="table-info">
                                                        Unwind Value
                                                </td>
                                                <td class="table-light text-right">
                                                        ${{"{:,.2f}".format(metadata[transaction]['unwind_value'])}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-info">
                                                        Match Value
                                                </td>
                                                <td class="table-light text-right">
                                                        ${{"{:,.2f}".format(metadata[transaction]['match_value'])}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="table-info">
                                                        Realised PnL
                                                </th>
                                                <th class="table-light text-right">
                                                        ${{"{:,.2f}".format(metadata[transaction]['realpnl'])}}
                                                </th>
                                            </tr>

                                        </tbody>
                                    </table>


                                </div>



                                <div class="col-sm-2 text-right align-self-middle">
                                    <button class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#collapse_{{transaction}}" aria-expanded="false" aria-controls="collapse_{{transaction}}">
                                         List </br> matches &#x21e9;
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="collapse" id="collapse_{{transaction}}">


                        <table class="table small" style="margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Ticker
                                    </th>
                                    <th>
                                        Operation
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Account
                                    </th>
                                    <th>
                                        Cash Value
                                    </th>
                                    <th>
                                        Quantity Balance
                                    </th>
                                    <th>
                                        Holding Period
                                    </th>
                                </tr>
                            </thead>


                            {% for realized in realpnl[transaction] %}
                            <tbody id="tradeid_{{realized.id}}" data-q="{{realized.cumquant}}" data-hp="{{realized.holding_period}}">

                            {% endfor %}
                            </tbody>
                        </table>


                    </div>
                </span>
                </div>

                {% endfor %}


            </div>

        </div>
    </br></br></br>
<small class="text-justify">
CryptoBlotter.io does not provide tax, legal or accounting advice.
This material has been prepared for informational purposes only, and is not intended to provide, and should not be relied on for, tax, legal or accounting advice.
</small>
<script src="/static/pnl.js"></script>
{% endblock content %}
