@import url('https://fonts.googleapis.com/css?family=Allerta');

body {
  background: #fafafa;
  color: #333333;
  margin-top: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #515151;
}

.bg-lightyellow {
  background-color: #ffedc4;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 40px;
    max-width: 40px;
}

.table-condensed{
  width: 100%;
  font-size: 16px;
  border: none;
  text-align: left;
  border-spacing: 6px;
  border-collapse: collapse;
}

.small-text {
    font-size: 14px;

}
td.red {
  color: red;
}

td.green {
  color: green;
}

.hinumber {
    color: #1F5168;
    font-family: 'Allerta';
    font-size: 20px;
}


.hinumbersmall {
    color: #1F5168;
    font-family: 'Allerta';
    font-size: 18px;
}

h6 {
    color: #7c7c7c;
    font-size: 16px;
    font-weight: bold;
}

.warning {
  color: teal;
}

pre {
    font-family: monospace;
}

.codetext {
    font-family: monospace;
    font-size: 120%;
    background-color: LightGray;
    font-weight: bold;

}

.table-white {
  background: #ffffff;
  color: #333333;
}

.white-text {
    color: #ffffff;
}

.btn-clean {
    padding: 0;
    border: none;
    background: none;
}

.table-right {
    width: 100%;
    margin-right: 0px;
    margin-left: auto;
}

.Absolute-Center {
  width: 100%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

/* On Off Switch */
.onoffswitch {
    position: relative; width: 67px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.1s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 14px; padding: 0; line-height: 14px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 8px;
    background-color: #F2F2F2; color: #000000;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 8px;
    background-color: #FFFFFF; color: #C4C4C4;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 14px; margin: 2.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 49px;
    border: 2px solid #999999; border-radius: 50px;
    transition: all 0.1s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}


/* FIFO LIFO Switch  */
.fifolifoswitch {
    position: relative; width: 67px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.fifolifoswitch-checkbox {
    display: none;
}
.fifolifoswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 50px;
}
.fifolifoswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.fifolifoswitch-inner:before, .fifolifoswitch-inner:after {
    display: block; float: left; width: 50%; height: 14px; padding: 0; line-height: 14px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.fifolifoswitch-inner:before {
    content: "LIFO";
    padding-left: 8px;
    background-color: #F2F2F2; color: #000000;
}
.fifolifoswitch-inner:after {
    content: "FIFO";
    padding-right: 8px;
    background-color: #F2F2F2; color: #000000;
    text-align: right;
}
.fifolifoswitch-switch {
    display: block; width: 14px; margin: 2.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 49px;
    border: 2px solid #999999; border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}
.fifolifoswitch-checkbox:checked + .fifolifoswitch-label .fifolifoswitch-inner {
    margin-left: 0;
}
.fifolifoswitch-checkbox:checked + .fifolifoswitch-label .fifolifoswitch-switch {
    right: 0px;
}


.emptycell {
    background-color: #E6E6E6;
}

.chart {
    min-width: 320px;
    max-width: 800px;
    height: 220px;
    margin: 0 auto;
}

/* CSS for Animated Loading info */
#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

.loadanim {
    animation: text-shadow 1.0s ease-in-out infinite;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
}


a {
    color: #024794;
}


@keyframes text-shadow {
    0% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }

    20% {
        transform: translateY(-1em);
        text-shadow:
            0 0.125em 0 #0c2ffb,
            0 0.25em 0 #2cfcfd,
            0 -0.125em 0 #fb203b,
            0 -0.25em 0 #fefc4b;
    }

    40% {
        transform: translateY(0.5em);
        text-shadow:
            0 -0.0625em 0 #0c2ffb,
            0 -0.125em 0 #2cfcfd,
            0 0.0625em 0 #fb203b,
            0 0.125em 0 #fefc4b;
    }

   60% {
        transform: translateY(-0.25em);
        text-shadow:
            0 0.03125em 0 #0c2ffb,
            0 0.0625em 0 #2cfcfd,
            0 -0.03125em 0 #fb203b,
            0 -0.0625em 0 #fefc4b;
    }

    80% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }
}
.noclose .ui-dialog-titlebar-close
{
    display:none;
}
